*{box-sizing: border-box;}
.header {
 
  text-align: left; 
  background: #005DAA; 
  
}



 
.column {
  float: left;
 
 
}

.left {
  width: 65%;
}

.right {
  width: 35%;
  text-align: center; 
}

 

    
    
  @media screen and (max-width: 600px) 
  {
    .column {
      width: 100%;
    }
  }