*{box-sizing: border-box;}
.header {
 
  text-align: left; 
  background: #005DAA; 
  padding-top: 60px;
  padding-left: 20px;
  
}
.body {
  margin: 0;
  background: #005DAA; 
  padding-bottom: 10px;
  
}



 
.column {
  float: left;
 
 
}

.left {
  width: 72%;
}

.right {
  width: 28%;
  text-align: center; 
  background: #ffffff; 
}

 

    
    
  @media screen and (max-width: 600px) 
  {
    .column {
      width: 100%;
    }
  }