*,
*::before,
*::after { box-sizing: border-box; }

html,


.left {
  width: 75%;
}

.slideshow_container {
  max-width: 720px;
  position: relative;
  
}
.carousel-inner {height: 300px;
  
}

@keyframes opaqTransition {
  3% { transform: translateX( 0 ); }
  25% { transform: translateX( 0 ); }
  28% { transform: translateX( -720px ); }
  100% { transform: translateX( -720px ); }
}
@media screen and (max-width: 600px) 
{
  .column {
    width: 100%;
  }
}