*,
*::before,
*::after { box-sizing: border-box; }

html,
body {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
  
    width: 90%;
    height: auto;
    margin: 0;
    padding: 0;

    background-color: #3c3c3c;
}



.slideshow_container {
  max-width: 960px;
  position: relative;
  margin: 10px;
}

@keyframes opaqTransition {
  3% { transform: translateX( 0 ); }
  25% { transform: translateX( 0 ); }
  28% { transform: translateX( -1280px ); }
  100% { transform: translateX( -1280px ); }
}